// плавна прокрутка по сайту
html {
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100%;

  color: var(--text-color-primary);
  background-color: var(--background-color);

  /* приховати тільки горизонтальну смугу прокручування */
  overflow-x: hidden;
}
