.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
  outline-offset: -2px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;

    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;

    width: 1200px;
  }
}
