// 2nd level-page (main) style -->> body

// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.about-me__section {
  background: linear-gradient(178.1deg, #fffcb6 -1.69%, #ffe4b6 100.01%);
}

.about-me__container {
  @media screen and (min-width: 768px) {
    display: grid;
    max-width: 730px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(23, 45px);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1100px;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(21, 45px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}

.about-me__img {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

  transform: rotate(-4deg);

  @media screen and (min-width: 768px) {
    width: 210px;
    margin-bottom: 0px;

    grid-column: 1 / 8;
    grid-row: 1 / 9;
  }

  @media screen and (min-width: 1200px) {
    width: 300px;

    transform: rotate(-6deg);

    grid-column: 1 / 10;
    grid-row: 1 / 10;
  }
}

.about-me__description {
  max-width: 440px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    max-width: 480px;
    grid-column: 9 / 21;
    grid-row: 1 / 9;
  }

  @media screen and (min-width: 1200px) {
    max-width: 600px;
    grid-column: 11 / 26;
    grid-row: 1 / 10;
  }
}
.about-me__description-greeting {
  font-family: 'Caveat', Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(23 / 20);
  text-align: center;

  margin-bottom: 25px;

  color: #36c25d;

  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}
.about-me__description-text {
  font-size: 16px;
  line-height: calc(19 / 16);

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.about-me__img-facts {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 320px;
    margin-bottom: 0px;

    grid-column: 13 / 21;
    grid-row: 12 / 15;
  }

  @media screen and (min-width: 1200px) {
    width: 350px;

    grid-column: 12 / 21;
    grid-row: 12 / 15;
  }
}

.about-me__facts {
  max-width: 440px;

  padding: 20px;
  margin-bottom: 60px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;

    grid-column: 1 / 12;
    grid-row: 12 / 15;
  }

  @media screen and (min-width: 1200px) {
    grid-column: 1 / 11;
    grid-row: 13 / 19;
  }
}

.about-me__facts-title {
  font-family: 'Caveat', Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(23 / 20);
  text-align: center;

  text-transform: uppercase;

  margin-bottom: 25px;

  color: #36c25d;

  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.about-me__facts-text {
  font-size: 16px;
  line-height: calc(19 / 16);

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.about-me__facts-list {
  list-style: disc;
  margin-left: -20px;
}

.about-me__facts-item {
  font-size: 16px;
  line-height: calc(19 / 16);

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.about-me__img-thumb {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 200px;
    margin-bottom: 0px;

    grid-column: 09 / 16;
    grid-row: 17 / 22;
  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    grid-column: 18 / 26;
    grid-row: 16 / 22;
  }
}

.about-me__socials-link {
  display: block;
  max-width: 250px;

  padding: 20px 50px;
  margin-right: auto;
  margin-left: auto;

  background-color: rgb(105, 203, 230);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  }

  @media screen and (min-width: 768px) {
    grid-column: 7 / 16;
    grid-row: 21 / 23;
  }

  @media screen and (min-width: 1200px) {
    grid-column: 10 / 17;
    grid-row: 22 / 22;
  }
}

.about-me__socials-title {
  font-family: 'Atma', Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(28 / 22);
  letter-spacing: 0.14em;

  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;

  color: #ffffff;
}

.about-me__socials-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

// .about-me__socials-item {}

.about-me__socials-icon {
  // width: 50px;
  fill: #ffffff;
}
