// 3th level-page (other-books) style -->> body

// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.other-books__section {
  background-color: rgb(200, 217, 232);
}

.other-books__text {
  font-family: 'Caveat', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(20 / 18);
  letter-spacing: 0.06em;

  text-align: center;
  margin-bottom: 30px;

  color: rgb(0, 0, 0);

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

// .illustrations__socials-email,
// .illustrations__socials-link {
//   font-family: inherit;
//   text-decoration: underline;

//   &:hover,
//   &:focus {
//     text-decoration: underline;
//     color: #903fd3;
//   }
// }
// 	color: #073716;

.other-books-gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.other-books-gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.other-books-gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-base);

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.other-books-gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;

  &:hover,
  &:focus {
    cursor: zoom-in;
  }
}
