/* 
основний колір тексту
колір тексту параграфів
колір наведення-акценту
білий #FFFFFF
колір заливки подложки на головній сторінці - rgb(202,154,155)
шрифт на HEADER
"The word of" - Caveat  color: #053a31
"Victoria Soltis-Doan" - Dancing Script color: #8635a4
"Author and illustrator of children's books" - Permanent Marker
Montserrat
Roboto
*/

:root {
  --text-color-primary: #000000;

  --text-header-text-color: #053a31;
  --text-header-name-color: #8635a4;
  --text-header-name-color-accent: rgb(92, 52, 98);
  --text-header-description-color: #835a4a;

  --text-footer-nav-color: #8635a4;
  --border-footer-style: 1px solid rgb(146, 132, 132);
  --icon-socials-footer-fill: rgb(128, 128, 128);
  --icon-socials-footer-fill-accent: blue;

  --background-color: #ffffff;

  --animation-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
