<section class="books-page__section section">
  <div class="container">
    <h1 class="visually-hidden">
      My books
    </h1>

    <div class="books-page__title-container">
      <h2 class="books-page__title">
        THE AWESOME CHILDREN'S BOOKS
      </h2>
    </div>

    <p class="books-page__text">
      Welcome to my store books! I'm an author and illustrator who specializes in writing children's books that are
      fun, engaging, and full of adventure. Each book has its own unique characters and themes that are sure to
      captivate children of all ages. I hope my books will bring you joy and excitement. Thank you for visiting my
      website, and happy reading!
    </p>

    <ul class="books-page__list list"></ul>

  </div>

</section>