<section class="books-page__section section">
  <div class="container">
    <h1 class="visually-hidden">
      My books
    </h1>

    <div class="books-page__title-container">
      <h2 class="books-page__title">
        THE AWESOME CHILDREN'S BOOKS
      </h2>
    </div>

    <p class="books-page__text">
      Welcome to my store books! I'm an author and illustrator who specializes in writing children's books that are
      fun, engaging, and full of adventure. Each book has its own unique characters and themes that are sure to
      captivate children of all ages. I hope my books will bring you joy and excitement. Thank you for visiting my
      website, and happy reading!
    </p>

    <ul class="books-page__list list">

      <li class="books__item">
        <a class="link" href="book-thank-you-so-much.html">
          <div class="books__card">
            <div class="books__card-cover">
              <img class="books__card-cover-image" src="../images/books-page/book-cover-1@1x.jpg" alt="${alt}"
                width="250" height="250" loading="lazy">
            </div>
            <div class="books__card-caption">
              <h3 class="books__card-title">
                Thank You So Much!
              </h3>
              <p class="books__card-text">
                This is a wonderful book about the value of freedom and true friendship.
              </p>
            </div>
          </div>
        </a>
      </li>

      <!-- 1. Thank You So Much! -->

      <!-- <li class="books__item">
        <a class="link" href="./book-thank-you-so-much.html">
          <div class="books__card">
            <div class="books__card-cover">
              <img class="books__card-cover-image" src="../images/books-page/book-cover-1@1x.jpg"
                alt="Thank You So Much!" width="250" height="250" loading="lazy">
            </div>
            <div class="books__card-caption">
              <h3 class="books__card-title">
                Thank You So Much!
              </h3>
              <p class="books__card-text">
                This is a wonderful book about the value of freedom and true friendship.
              </p>
            </div>
          </div>
        </a>
      </li> -->



    </ul>

  </div>

</section>