<section class="main-body__section section">
  <div class="container">

    <h1 class="visually-hidden">
      Viktoria Soltis-Doan - author and illustrator of children's books
    </h1>

    <ul class="main-body__list list">

      <li class="main-body__list-my-books">
        <a class="link" href="./partials/my-books.html">
          <div class="main-body__list-thumb">
            <img srcset="./images/main-page/img-my-books@1x.png 1x, ./images/main-page/img-my-books@2x.png 2x"
              src="./images/main-page/img-my-books@1x.png" alt="my books" width="260" height="286"
              class="main-body__list-img">
            <h2 class="main-body__list-title-chapter main-body__list-title-books">My books</h2>
          </div>
        </a>
      </li>

      <li class="main-body__list-my-illustrations">
        <a class="link" href="./partials/my-illustrations.html">
          <div class="main-body__list-thumb">
            <img
              srcset="./images/main-page/img-my-illustrations@1x.png 1x, ./images/main-page/img-my-illustrations@2x.png 2x"
              src="./images/main-page/img-my-illustrations@1x.png" alt="my illustrations" width="260" height="280"
              class="main-body__list-img">
            <h2 class="main-body__list-title-chapter main-body__list-title-my-illustrations">My illustrations</h2>
          </div>
        </a>
      </li>

      <li class="main-body__list-about">
        <a class="link" href="./partials/about-me.html">
          <div class="main-body__list-thumb">
            <img srcset="./images/main-page/img-about-me@1x.png 1x, ./images/main-page/img-about-me@2x.png 2x"
              src="./images/main-page/img-about-me@1x.png" alt="about me" width="260" height="286"
              class="main-body__list-img">
            <h2 class="main-body__list-title-chapter main-body__list-title-about">About me</h2>
          </div>
        </a>
      </li>

      <li class="main-body__list-contacts">
        <a class="link" href="./partials/contact.html">
          <div class="main-body__list-thumb">
            <img srcset="./images/main-page/img-contacts@1x.png 1x, ./images/main-page/img-contacts@2x.png 2x"
              src="./images/main-page/img-contacts@1x.png" alt="contact" width="260" height="284"
              class="main-body__list-img">
            <h2 class="main-body__list-title-chapter main-body__list-title-contacts">Contact</h2>
          </div>
        </a>
      </li>

    </ul>

  </div>
</section>