<header class="header">
  <div class="header__container container">
    <div class="header-text">
      <p class="header-text__text">The world of</p>

      <div>
        <h1 class="header-text__name">
          <a class="link" href="../index.html">Viktoria Soltis-Doan</a>
        </h1>
        <p class="header-text__description">Author and illustrator of children's books</p>
      </div>
    </div>

    <img class="header-img" src="../images/header/img-bird@1x.png" alt="bird" width="100">

  </div>
</header>