<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Beth the Witch Creates a Pet". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Beth the Witch Creates a Pet</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">
        <img class="book-page__img"
          srcset="../images/book-page/book-cover-2-2@1x.png 1x, ../images/book-page/book-cover-2-2@2x.png 2x"
          src="../images/book-page/book-cover-2-2@1x.png" alt="Beth the Witch Creates a Pet" width="350" height="307"
          loading="lazy">
        <div class="book-page__description">
          <p class="book-page__description-text">
            Experience the magic of this sweet and funny book for little
            ones!
          </p>
          <p class="book-page__description-text">
            Very often we don’t notice who is beside us. After all, to take care of someone, you do not need to
            invent anything
            extraordinary. There are many animals that need our care and love around us. In return, they will
            become our real
            friends!
          </p>
          <p class="book-page__description-text">
            This funny and fascinating story teaches us to be merciful, considerate and happy. Happiness is
            always nearby.
          </p>
          <p class="book-page__description-text">
            Giggle and learn valuable life lessons with Beth.
          </p>
          <p class="book-page__description-text">
            Fun story and joyful illustrations make these books perfect for parents and toddlers to read
            together!
          </p>
          <p class="book-page__description-text">
            So, don't wait; add this amazing book to your cart now and ENJOY!♥
          </p>
        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Beth-Witch-Creates-Pet-Friendship-ebook/dp/B09RGH7X8M/ref=sr_1_7?crid=1VT8TVTPTTCCK&keywords=viktoria+soltis+doan&qid=1681775275&sprefix=viktoria+soltis+doan%2Caps%2C477&sr=8-7"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>

        <div class="book-page__swiper-box">

          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <p class="book-page__reviews-text"><span class="book-page__reviews-text-bold">Jon Marshall: </span>
                  It is so easy to overlook people, places and things. This stody reminds us that we dont have to go
                  far. Just open your
                  eyes. I really like the illustration style as well.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Joy: </span>
                  This magical story is brought to life with the wonderful illustrations. I love how beth’s eyes have 2
                  different colors,
                  and all the little details on each page. A lovely story about searching for something more, but
                  realizing you have all
                  you need right in front of you.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Vasyl: </span>Such a cute little book for a child! The book
                  itself is of a nice quality and the story was hilarious. Easy read and
                  illustrations are vibrant and busy! Loves this book!
                </p>
              </div>

              <!-- <div class="swiper-slide"><p class="book-page__reviews-text"><span class="book-page__reviews-text-bold"></span></p></div> -->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS swiper -->
  <script src="../js/swiper.js" type="module"></script>

</body>

</html>