<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Thank You So Much!". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Thank You So Much!</h2>

    <div class="book-page__container container">
      <img class="book-page__img" src="../images/book-page/book-cover-1-2@2x.png" alt="Thank You So Much!" width="350"
        height="307" loading="lazy">
      <div class="book-page__description">
        <p class="book-page__description-text">This is a wonderful book about the value of freedom and true friendship.
        </p>
        <p class="book-page__description-text">The main character is very lonely, he has no friends at all. One day he
          finds a
          cage with an incredibly beautiful yellow
          bird. The boy decides that it will be his friend, a friend in a cage. But is it possible to be friends if held
          against
          one's will?</p>
        <p class="book-page__description-text">In communication with the wise bird, the boy learns about true
          friendship.</p>
        <p class="book-page__description-text">But what will happen next? Did the boy understand the lesson? You will
          learn
          about this from the book.♥</p>
        <p class="book-page__description-text">The board books are told in simple sentences, perfect for reading aloud
          to
          babies and toddlers.</p>
        <p class="book-page__description-text">A wonderful addition to any home or school library! Please enjoy!♥</p>
      </div>

      <div class="book-page__btn-container">
        <a class="book-page__btn-order link-btn link"
          href="https://www.amazon.com/Thank-You-So-Much-Bird/dp/B09X3X1L9M/ref=mp_s_a_1_9?crid=2RVKZKF86NYZ6&keywords=viktoria+soltis+doan&qid=1681769785&sprefix=soltis-doan%2Caps%2C227&sr=8-9"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="book-page__btn-back link-btn link" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>
        <p class="book-page__reviews-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni corrupti
          numquam
          placeat veritatis ipsum odio
          vero non blanditiis iure iusto adipisci ad nemo, ex odit!"</p>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS -->
  <!-- <script src="../js/01-books-gallery.js" type="module"></script> -->

</body>

</html>