<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Good Night Everybody!". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Good Night Everybody!</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">
        <img class="book-page__img" src="../images/book-page/book-cover-5-2@2x.png" alt="Good Night Everybody!"
          width="350" height="307" loading="lazy">
        <div class="book-page__description">
          <p class="book-page__description-text">
            Say good night with little Joe and friends as they prepare for bed.
          </p>
          <p class="book-page__description-text">
            These colorful books are the perfect way to help tiny ones wind down on their way to dreamland.★★★
          </p>
          <p class="book-page__description-text">
            Did you notice that babies always find a reason not to go to bed?
          </p>
          <p class="book-page__description-text">
            After all, they haven’t done a lot of things. To eat and to drink one more time, scratch the back!
            And of course to go
            to the potty again!
            But the next day, babies are sleepy and are in a bad mood. And even their favorite games do not
            entertain them.
          </p>
          <p class="book-page__description-text">
            What to do? You can find the answer in this wonderful book. And now little fidgets will know why
            they have to go to bed on time and
            what they need to do for this.
          </p>
          <p class="book-page__description-text">
            Now they will sleep well all night until the morning.
          </p>

          <p class="book-page__description-text">
            Fun story and joyful illustrations make these books perfect for parents and toddlers to read
            together!
          </p>
          <p class="book-page__description-text">
            So, don't wait; add this amazing book to your cart now and ENJOY!♥
          </p>
        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Good-Night-Everybody-Perfect-Bedtime-ebook/dp/B09LD24LXK/ref=sr_1_5?crid=1VT8TVTPTTCCK&keywords=viktoria+soltis+doan&qid=1681775395&sprefix=viktoria+soltis+doan%2Caps%2C477&sr=8-5"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>
        <p class="book-page__reviews-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni corrupti
          numquam
          placeat veritatis ipsum odio
          vero non blanditiis iure iusto adipisci ad nemo, ex odit!"</p>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS -->
  <!-- <script src="../js/01-books-gallery.js" type="module"></script> -->

</body>

</html>