<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Many Cats and a Little Rat". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Many Cats and a Little Rat</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">
        <img class="book-page__img"
          srcset="../images/book-page/book-cover-3-2@1x.png 1x, ../images/book-page/book-cover-3-2@2x.png 2x"
          src="../images/book-page/book-cover-3-2@1x.png" alt="Many Cats and a Little Rat" width="350" height="307"
          loading="lazy">
        <div class="book-page__description">
          <p class="book-page__description-text">
            Big Wimmelbook let kids ages 2 to 10 be the storytellers with hours of seek-and-find hands-on
            learning—and fun!
          </p>
          <p class="book-page__description-text">
            This is a wonderful, funny story in pictures about the life of the Cats.
            Every resident has his own character and habits. They live in the Cathouse and are busy with their
            Cat's business.
            They are so concerned that they don't even notice that a little Rat has got into their house.
          </p>
          <p class="book-page__description-text">
            Help the Cats to find the little brawler! ★
          </p>
          <p class="book-page__description-text">
            And yet a hen, Dora, settled in the house, and she already got used to her fluffy neighbors.
          </p>
          <p class="book-page__description-text">
            Packed with things to spot and funny story about cats!
          </p>
          <p class="book-page__description-text">
            The books are perfect for boys, girls, early readers, primary school students, and even toddlers.
          </p>
          <p class="book-page__description-text">
            So, don't wait; add this amazing book to your cart now and ENJOY!♥
          </p>
        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Many-Cats-Little-Rat-Wimmelbook/dp/B09CRM3P8W/ref=sr_1_2?crid=1VT8TVTPTTCCK&keywords=viktoria+soltis+doan&qid=1681775395&sprefix=viktoria+soltis+doan%2Caps%2C477&sr=8-2"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>

        <div class="book-page__swiper-box">

          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <p class="book-page__reviews-text"><span class="book-page__reviews-text-bold">lisa jacovsky: </span>
                  Very cute and interactive book! It's a bit busy but that is part of the charm. Each page encourages
                  the reader to find
                  items. It helps the reader learn some fun facts about cats. I enjoyed this book and loved the surprise
                  of the
                  interaction!
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Donna Glass: </span>
                  What a fun book. Kids will love seeking out the hidden items. The illustrations will make them laugh,
                  particularly the
                  popping and farting cats. With so much activity on the pages, you'll have to read it multiple times to
                  catch all the
                  happenings.
                  If you download it to your kindle fire, you'll want to turn your device sideways to get optimal
                  viewing of the pages.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Beena Dhyani: </span>Such a funny book giving us a peek
                  into the “Secret life of cats”! Kids will love this book for sure! It’s beautifully
                  illustrated with creative & hilarious attributes of cats! The most amazing thing about the book is
                  that it is so
                  detailed and well-thought- of! It was so much fun to read to my son! He kept laughing the whole time!
                  Highly
                  recommended! Kudos to the author!
                </p>
              </div>

              <!-- <div class="swiper-slide"><p class="book-page__reviews-text"><span class="book-page__reviews-text-bold"></span></p></div> -->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS swiper -->
  <script src="../js/swiper.js" type="module"></script>

</body>

</html>