<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"The Dragon and The Drandma". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">The Dragon and The Drandma</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">
        <img class="book-page__img" src="../images/book-page/book-cover-8-2@0.5x.png" alt="The Dragon and The Drandma"
          width="350" height="307" loading="lazy">
        <div class="book-page__description">
          <p class="book-page__description-text">
            Cute, relatable characters and an irresistibly cool dragon. What more could a kid ask for?
          </p>
          <p class="book-page__description-text">
            In "The Dragon and the Grandma" follow the heartwarming journey of Grandma Astrid as she discovers the true
            meaning of love, care, and acceptance in this enchanting tale.
          </p>
          <p class="book-page__description-text">
            With whimsical and funny moments, "The Dragon and the Grandma" will delight young readers and captivate
            their imagination. Astrid's adventures with her peculiar pet challenge her at first, but through a series of
            events, she discovers the power of pure love and compassion. As their bond deepens, Astrid learns to embrace
            the Dragon's unique qualities, realizing that appearances do not define the worth of a friendship.
          </p>
        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Dragon-Grandma-Dragons-friendship-responsibility-ebook/dp/B0CCYZZJRJ/ref=sr_1_1?crid=93862RTCNI0H&keywords=viktoria+soltis-doan&qid=1691615046&sprefix=tviktoria+soltis-doan%2Caps%2C306&sr=8-1"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>

        <div class="book-page__swiper-box">

          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <p class="book-page__reviews-text"><span class="book-page__reviews-text-bold">Lindsey: </span>
                  This sweet little tale reads like a fable with morals of being true to one’s self and proud of who you
                  are inside and
                  out. This adorable artistic chick is inspiring is brought to life by wonderful whimsical
                  illustrations. This is a great
                  story for Easter or any time of year.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Anastasiia: </span>
                  I bought this book for my children, we have all enjoyed reading it, in fact several times. This is a
                  good book for
                  children, however some adults could use the advice too.
                  The message is to believe in yourself, do what makes you feel happy, you are amazing in your own way.
                  The illustrations
                  are colorful and engaging!
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Dean Giles: </span>Little Coco was born with colors that
                  the other chicks didn't have. Coco was shunned because he was different. In a rain
                  storm the colors came off and Coco had some time where he was like everyone else. His mother talked to
                  him about really
                  being himself. Coco had the occasion to be a hero, where his "real" colors showed through.
                </p>
              </div>

              <!-- <div class="swiper-slide"><p class="book-page__reviews-text"><span class="book-page__reviews-text-bold"></span></p></div> -->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->

          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS swiper -->
  <script src="../js/swiper.js" type="module"></script>

</body>

</html>