<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Wonderful Chick". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Wonderful Chick</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">
        <img class="book-page__img" src="../images/book-page/book-cover-6-2@1x.png" alt="Wonderful Chick" width="350"
          height="307" loading="lazy">
        <div class="book-page__description">
          <p class="book-page__description-text">
            Are you looking for a great kids’ book to teach your child about the importance of acceptance, diversity,
            inclusion and
            strong self-esteem? Look no further. Wonderful Coco is an animal adventure that does just that.
          </p>
          <p class="book-page__description-text">
            This is an exclusive story about self-belief, your strength and your uniqueness.
          </p>
          <p class="book-page__description-text">
            Little Chick Coco was born different from others. He had another appearance and other priorities. Because of
            this, he
            was rejected by all the residents of the farm. They were sure that their point of view and way of life were
            more correct, that's why Coco's habits seemed strange to them. None of them wanted to deal with him, which
            is why Coco was
            miserable and was dreaming of being like them.
          </p>
          <p class="book-page__description-text">
            But when his dream came true, he understood that it only made him unhappy.
          </p>
          <p class="book-page__description-text">
            The Chick understood that this is his life and he has a right to live it the way he wants. Coco started to
            like himself
            as he is. And when you love yourself, you become happy and you can do everything. Each of us is special and
            unique.
          </p>
          <p class="book-page__description-text">
            There are millions of stars in the sky but each one is different.★
          </p>
          <p class="book-page__description-text">
            A wonderful addition to any home or school library! Please enjoy!♥
          </p>
        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Wonderful-Chick-Little-Self-Esteem-Self-Respect-ebook/dp/B08XC4HV23/ref=sr_1_1?crid=1VT8TVTPTTCCK&keywords=viktoria+soltis+doan&qid=1681775395&sprefix=viktoria+soltis+doan%2Caps%2C477&sr=8-1"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>

        <div class="book-page__swiper-box">

          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <p class="book-page__reviews-text"><span class="book-page__reviews-text-bold">Lindsey: </span>
                  This sweet little tale reads like a fable with morals of being true to one’s self and proud of who you
                  are inside and
                  out. This adorable artistic chick is inspiring is brought to life by wonderful whimsical
                  illustrations. This is a great
                  story for Easter or any time of year.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Anastasiia: </span>
                  I bought this book for my children, we have all enjoyed reading it, in fact several times. This is a
                  good book for
                  children, however some adults could use the advice too.
                  The message is to believe in yourself, do what makes you feel happy, you are amazing in your own way.
                  The illustrations
                  are colorful and engaging!
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Dean Giles: </span>Little Coco was born with colors that
                  the other chicks didn't have. Coco was shunned because he was different. In a rain
                  storm the colors came off and Coco had some time where he was like everyone else. His mother talked to
                  him about really
                  being himself. Coco had the occasion to be a hero, where his "real" colors showed through.
                </p>
              </div>

              <!-- <div class="swiper-slide"><p class="book-page__reviews-text"><span class="book-page__reviews-text-bold"></span></p></div> -->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->

          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS swiper -->
  <script src="../js/swiper.js" type="module"></script>

</body>

</html>