<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Thank You So Much!". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Thank You So Much!</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">
        <img class="book-page__img"
          srcset="../images/book-page/book-cover-1-2@1x.png 1x, ../images/book-page/book-cover-1-2@2x.png 2x"
          src="../images/book-page/book-cover-1-2@1x.png" alt="Thank You So Much!" width="350" height="307"
          loading="lazy">
        <div class="book-page__description">
          <p class="book-page__description-text">This is a wonderful book about the value of freedom and true
            friendship.
          </p>
          <p class="book-page__description-text">The main character is very lonely, he has no friends at all. One day he
            finds a
            cage with an incredibly beautiful yellow
            bird. The boy decides that it will be his friend, a friend in a cage. But is it possible to be friends if
            held
            against
            one's will?</p>
          <p class="book-page__description-text">In communication with the wise bird, the boy learns about true
            friendship.</p>
          <p class="book-page__description-text">But what will happen next? Did the boy understand the lesson? You will
            learn
            about this from the book.♥</p>
          <p class="book-page__description-text">The board books are told in simple sentences, perfect for reading aloud
            to
            babies and toddlers.</p>
          <p class="book-page__description-text">A wonderful addition to any home or school library! Please enjoy!♥</p>
        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Thank-You-So-Much-Bird/dp/B09X3X1L9M/ref=mp_s_a_1_9?crid=2RVKZKF86NYZ6&keywords=viktoria+soltis+doan&qid=1681769785&sprefix=soltis-doan%2Caps%2C227&sr=8-9"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>

        <div class="book-page__swiper-box">

          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <p class="book-page__reviews-text"><span class="book-page__reviews-text-bold">Suzan Johnson: </span>
                  A Boy learns about the true meaning of friendship. When given the
                  option to force or allow a friendship to grow he chose
                  the right one. The Bird demonstrates that a big part of being friends is the freedom to choose it. A
                  great
                  life lesson
                  for all.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Lazann: </span>
                  This is a beautifully illustrated story about a lonley young boy who
                  becones friends with a caged bird. By setting the
                  bird free, he learns a valuable lesson about true friendship. Reminded me of the old saying, "If you
                  love
                  something set
                  it free. If it comes back it's yours forever." Definitely recommend this children's book.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Carolyn Cutler Hughes: </span>This is a great story to help
                  explain friendship. A
                  little
                  boy has a friend bird and can force it or let it free. He
                  made the right choice of course. The illustrations add to the story nicely.
                </p>
              </div>

              <!-- <div class="swiper-slide"><p class="book-page__reviews-text"><span class="book-page__reviews-text-bold"></span></p></div> -->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->

          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS swiper -->
  <script src="../js/swiper.js" type="module"></script>

</body>

</html>