<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Apple Pete and his Little Trouble". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Apple Pete and his Little Trouble</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">

        <picture>
          <source media="(min-width: 1200px)"
            srcset="../images/book-page/book-cover-7-desktop@1x.png 1x, ../images/book-page/book-cover-7-desktop@2x.png 2x" />
          <source media="(min-width: 768px)"
            srcset="../images/book-page/book-cover-7-tablet@1x.png 1x, ../images/book-page/book-cover-7-tablet@2x.png 2x" />
          <source media="(max-width: 767px)"
            srcset="../images/book-page/book-cover-7-mobile@1x.png 1x, ../images/book-page/book-cover-7-mobile@2x.png 2x" />
          <img class="book-page__img" src="../images/book-page/book-cover-7-mobile@1x.png"
            alt="Apple Pete and his Little Trouble" width="350" height="307" loading="lazy">
        </picture>
        <!-- --------------- -->

        <div class="book-page__description">
          <p class="book-page__description-text">
            Do you have any friends that underestimate you, say that you can't handle something? Or maybe, such thoughts
            appear in your mind. Which are like small worm “gnaws from the inside”.
          </p>
          <p class="book-page__description-text">
            This is a funny and a bit philosophical book to help you to understand how important it is to be
            yourself and believe in
            your strength. It is very important to trust yourself. Also, it is essential to understand who is
            next to you and give
            you some advice.
          </p>
          <p class="book-page__description-text">
            Apple Pete aspires to teach children the importance of being self confident.It encourages positive behavior,
            cognitive
            thinking, a growth mindset, empathy and positivity.
          </p>
          <p class="book-page__description-text">
            So, don't wait; add this amazing book to your cart now and ENJOY!♥
          </p>

        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Apple-Pete-his-Little-Trouble/dp/B096TN7M51/ref=sr_1_4?crid=1VT8TVTPTTCCK&keywords=viktoria+soltis+doan&qid=1681775395&sprefix=viktoria+soltis+doan%2Caps%2C477&sr=8-4"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>

        <div class="book-page__swiper-box">

          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <p class="book-page__reviews-text"><span class="book-page__reviews-text-bold">Anastasiia: </span>
                  What a lovely book! This gives inspiration to any person, young and old. Reminds you to stay who you
                  are but not to veer
                  off onto the wrong path. The message really moved me.
                  This book it's adorable! I haven't found a child who didn't like this book, it's so cute. Great story,
                  nice colorful
                  illustrations. I highly recommend this book!
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Claude D.: </span>
                  A creative and cute story with lovely illustrations that will inspire children to believe in
                  themselves and to always
                  look for a solution to a problem, even when negativity tries to take over.
                  Highly recommended.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">lisa jacovsky: </span>This is an interesting book that
                  shows how harmful an anxiety type voice can be. An apple receives a worm that becomes a
                  voice of negativity. At first the apple is worried but then finds solutions to the issues he
                  encounters and ignores his
                  anxiety. A great way to teach kids to work on problems rather than let their anxiety take over.
                </p>
              </div>

              <!-- <div class="swiper-slide"><p class="book-page__reviews-text"><span class="book-page__reviews-text-bold"></span></p></div> -->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS swiper -->
  <script src="../js/swiper.js" type="module"></script>

</body>

</html>