<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Many Dogs and a Tricky Fox". Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <section class="book-page__section section">

    <h2 class="visually-hidden">Many Dogs and a Tricky Fox</h2>

    <div class="book-page__container container">

      <div class="book-page__main-content">

        <!-- <picture>
          <source media="(min-width: 1200px)"
            srcset="../images/book-page/book-cover-4-desktop@1x.png 1x, ../images/book-page/book-cover-4-desktop@2x.png 2x" />
          <source media="(min-width: 768px)"
            srcset="../images/book-page/book-cover-4-tablet@1x.png 1x, ../images/book-page/book-cover-4-tablet@2x.png 2x" />
          <source media="(max-width: 767px)"
            srcset="../images/book-page/book-cover-4-mobile@1x.png 1x, ../images/book-page/book-cover-4-mobile@2x.png 2x" />
          <img class="book-page__img" src="../images/book-page/book-cover-4-mobile@1x.png"
            alt="Many Dogs and a Tricky Fox" width="350" height="307" loading="lazy">
        </picture> -->
        <img class="book-page__img"
          srcset="../images/book-page/book-cover-4-mobile@1x.png 1x, ../images/book-page/book-cover-4-mobile@2x.png 2x"
          src="../images/book-page/book-cover-4-mobile@1x.png" alt="Wonderful Chick" width="350" height="307"
          loading="lazy">

        <div class="book-page__description">
          <p class="book-page__description-text">
            Big Wimmelbook let kids ages 2 to 10 be the storytellers with hours of seek-and-find hands-on
            learning—and fun!
            This is a wonderful, funny story in pictures about the life of the Dogs.
          </p>
          <p class="book-page__description-text">
            Wimmelbook, otherwise known as the shimmering book, ideal for getting acquainted with the
            surrounding world, development
            of speech and imagination. Examining this book-picture enriched with humor and details is a
            pleasure.
            This funny story about dogs' lives contains a lot of hidden scenes and exercises.
            Find a tricky fox in every scene, and also find lost items and dog’s “cupcakes”.
          </p>
          <p class="book-page__description-text">
            This is a wonderful book for family reading and laughing.
          </p>
          <p class="book-page__description-text">
            Packed with things to spot and funny story about dogs!

            The books are perfect for boys, girls, early readers, primary school students, and even toddlers.
          </p>
          <p class="book-page__description-text">
            So, don't wait; add this amazing book to your cart now and ENJOY!♥
          </p>
        </div>
      </div>

      <div class="book-page__btn-container">
        <a class="link book-page__btn"
          href="https://www.amazon.com/Many-Dogs-Tricky-Fox-Wimmelbook/dp/B0BW31G9QD/ref=sr_1_3?crid=1VT8TVTPTTCCK&keywords=viktoria+soltis+doan&qid=1681775395&sprefix=viktoria+soltis+doan%2Caps%2C477&sr=8-3"
          target="_blank" rel="noreferrer noopener">
          order now!
        </a>
        <a class="blink book-page__btn" href="./my-books.html">
          back to list
        </a>
      </div>
      <div class="book-page__reviews-container">
        <h3 class="book-page__reviews-title">Reviews</h3>
        <p class="book-page__reviews-note">What Readers Says</p>

        <div class="book-page__swiper-box">

          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <p class="book-page__reviews-text"><span class="book-page__reviews-text-bold">DJR: </span>
                  It's a Dog's world in this interactive book filled with cute characters. In each spread find the 5
                  items shown in these
                  perfectly busy illustrations. This read and seek book is well done with a funny story and extra
                  goodies in the back.
                </p>
              </div>

              <div class="swiper-slide">
                <p class="book-page__reviews-text">
                  <span class="book-page__reviews-text-bold">Carolyn Cutler Hughes: </span>
                  I love books that you need to find things on the page. The story was cute and the art and characters
                  are adorable! It
                  has a little bit of a Richard Scarry vibe.
                </p>
              </div>

              <!-- <div class="swiper-slide"><p class="book-page__reviews-text"><span class="book-page__reviews-text-bold"></span></p></div> -->

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS swiper -->
  <script src="../js/swiper.js" type="module"></script>

</body>

</html>