<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My books. Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

</head>

<body>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>


  <!-- body -->
  <!-- <include src="./_body-2nd-level-books.html"></include> -->

  <section class="books-page__section section">
    <div class="container">
      <h1 class="visually-hidden">
        My books
      </h1>

      <div class="books-page__title-container">
        <h2 class="books-page__title">
          THE AWESOME CHILDREN'S BOOKS
        </h2>
      </div>

      <p class="books-page__text">
        Welcome to my store books! I'm an author and illustrator who specializes in writing children's books that are
        fun, engaging, and full of adventure. Each book has its own unique characters and themes that are sure to
        captivate children of all ages. I hope my books will bring you joy and excitement. Thank you for visiting my
        website, and happy reading!
      </p>

      <!-- Add gallery books-items to this list -->
      <div class="books-page__list-container">


        <ul class="books-page__list list">

          <!-- 1 -->
          <li class="books__item">
            <a class="link" href="book-thank-you-so-much.html">
              <div class="books__card">
                <div class="books__card-cover">
                  <img class="books__card-cover-image" src="../images/books-page/book-cover-1@1x.webp"
                    alt="Thank You So Much!" width="250" height="250" loading="lazy">
                </div>
                <div class="books__card-caption">
                  <h3 class="books__card-title">
                    Thank You So Much!
                  </h3>
                  <p class="books__card-text">
                    This is a wonderful book about the value of freedom and true friendship.
                  </p>
                </div>
              </div>
            </a>
          </li>

          <!-- 2 -->
          <li class="books__item">
            <a class="link" href="./book-beth-the-witch-creates-a-pet.html">
              <div class="books__card">
                <div class="books__card-cover">
                  <img class="books__card-cover-image" src="../images/books-page/book-cover-2@1x.webp"
                    alt="Beth the Witch Creates a Pet" width="250" height="250" loading="lazy">
                </div>
                <div class="books__card-caption">
                  <h3 class="books__card-title">
                    Beth the Witch Creates a Pet
                  </h3>
                  <p class="books__card-text">
                    Experience the magic of this sweet and funny book for little ones!
                  </p>
                </div>
              </div>
            </a>
          </li>

          <!-- 3 -->
          <li class="books__item">
            <a class="link" href="book-many-cats-and-a-little-rat.html">
              <div class="books__card">
                <div class="books__card-cover">
                  <img class="books__card-cover-image" src="../images/books-page/book-cover-3@1x.webp"
                    alt="Many Cats and a Little Rat" width="250" height="250" loading="lazy">
                </div>
                <div class="books__card-caption">
                  <h3 class="books__card-title">
                    Many Cats and a Little Rat
                  </h3>
                  <p class="books__card-text">
                    Big Wimmelbook let kids be the storytellers with hours of seek-and-find hands-on learning-and fun!
                  </p>
                </div>
              </div>
            </a>
          </li>

          <!-- 4 -->
          <li class="books__item">
            <a class="link" href="book-many-dogs-and-a-tricky-fox.html">
              <div class="books__card">
                <div class="books__card-cover">
                  <img class="books__card-cover-image" src="../images/books-page/book-cover-4@1x.webp"
                    alt="Many Dogs and a Tricky Fox" width="250" height="250" loading="lazy">
                </div>
                <div class="books__card-caption">
                  <h3 class="books__card-title">
                    Many Dogs and a Tricky Fox
                  </h3>
                  <p class="books__card-text">
                    This is a wonderful, funny story in pictures about the life of the Dogs.
                  </p>
                </div>
              </div>
            </a>
          </li>

          <!-- 5 -->
          <li class="books__item">
            <a class="link" href="book-good-night-everybody.html">
              <div class="books__card">
                <div class="books__card-cover">
                  <img class="books__card-cover-image" src="../images/books-page/book-cover-5@1x.webp"
                    alt="Good Night Everybody!" width="250" height="250" loading="lazy">
                </div>
                <div class="books__card-caption">
                  <h3 class="books__card-title">
                    Good Night Everybody!
                  </h3>
                  <p class="books__card-text">
                    These colorful books are the perfect way to help tiny ones wind down on their way to dreamland.
                  </p>
                </div>
              </div>
            </a>
          </li>

          <!-- 6 -->
          <li class="books__item">
            <a class="link" href="book-wonderful-chick.html">
              <div class="books__card">
                <div class="books__card-cover">
                  <img class="books__card-cover-image" src="../images/books-page/book-cover-6@1x.webp"
                    alt="Wonderful Chick" width="250" height="250" loading="lazy">
                </div>
                <div class="books__card-caption">
                  <h3 class="books__card-title">
                    Wonderful Chick
                  </h3>
                  <p class="books__card-text">
                    This is an exclusive story about self-belief, your strength and your uniqueness.
                  </p>
                </div>
              </div>
            </a>
          </li>

          <!-- 7 -->
          <li class="books__item">
            <a class="link" href="book-apple-pete-and-his-little-trouble.html">
              <div class="books__card">
                <div class="books__card-cover">
                  <img class="books__card-cover-image" src="../images/books-page/book-cover-7@1x.webp"
                    alt="Apple Pete and his Little Trouble" width="250" height="250" loading="lazy">
                </div>
                <div class="books__card-caption">
                  <h3 class="books__card-title">
                    Apple Pete and his Little Trouble
                  </h3>
                  <p class="books__card-text">
                    This is a funny and a bit philosophical book to help you to understand how important it is to be
                    yourself and believe in
                    your strength.
                  </p>
                </div>
              </div>
            </a>
          </li>



          <!-- 9 Outher books -->
          <li class="books__item">
            <a class="link" href="../index.html">
              <div class="books__card-title-other-thumb">
                <div class="books__card">
                  <div class="books__card-cover">
                    <img class="books__card-cover-image" src="../images/books-page/book-cover-other@1x.jpg"
                      alt="My outher books" width="250" height="250" loading="lazy">
                  </div>
                  <div class="books__card-caption-other">
                    <p class="books__card-text-other">
                      Read more
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </li>

        </ul>

      </div>

    </div>

  </section>

  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS -->
  <!-- <script src="../js/01-books-gallery.js" type="module"></script> -->

</body>

</html>