<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Other books. Viktoria Soltis-Doan</title>

  <!-- Fonts -->
  <include src="./partials/base/fonts.html"></include>

  <!-- Custom styles -->
  <link rel="stylesheet" href="../sass/index.scss" />

  <!-- Favicon -->
  <include src="./partials/_favicon-2nd-level.html"></include>

  <!-- Styles бібліотека simplelightbox (Modal Window) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.12.1/simple-lightbox.min.css"
    integrity="sha512-q+OxwGn5fQc6oIdj3NQgTVMgS9TCLksZp5DsdSEsZbGamjdN7yVAMah+R1DmHZykkHD5gI8imeuEfmkp7ZHZ3w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <!-- Scroll Up with progress -->
  <include src="./partials/_scrollUpButton.html"></include>

  <!-- HEADER -->
  <include src="./partials/_header-2nd-level.html"></include>

  <!-- body -->
  <!-- <include src="./partials/_body-2nd-level-books.html"></include> -->

  <section class="other-books__section section">
    <div class="container">

      <h2 class="visually-hidden">My illustrations</h2>

      <p class="other-books__text">
        These are books published in other languages (Ukrainian, Slovak, Czech, Chinese). Some books I wrote and
        illustrated, and some I illustrated for other authors. Please take a look! You can find all these books in
        online bookstores. Enjoy!
      </p>

      <!-- Add gallery items to this list -->
      <ul class="other-books-gallery list"></ul>

    </div>
  </section>


  <!-- FOOTER -->
  <include src="./partials/_footer-2nd-level.html"></include>

  <!-- JS -->

  <!-- Script бібліотека simplelightbox (Modal Window) -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.12.1/simple-lightbox.min.js"
    integrity="sha512-QoopN2y0b53eP+J2BNc1ff4ImedQAt2xDdhLQkUzTCyfniKkUlHbhweoYxDhCY78Z5EnMtY5rLtjtTK0Yc9Jcw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

  <link rel="stylesheet" href="/node_modules/simplelightbox/dist/simple-lightbox.min.css">
  <script src="/node_modules/simplelightbox/dist/simple-lightbox.min.js"></script>


  <!-- js -->
  <script src="../js/03-other-books-gallery-lightbox.js" type="module"></script>

  <!-- JS - Scroll Up with progress -->
  <script src="../js/scrollUp.js" type="module"></script>

</body>

</html>