// --- копірайт ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.footer__copyright {
  padding: 20px 20px 10px 20px;

  @media screen and (min-width: 768px) {
    // margin-top: 32px;
    padding: 12px 12px;
  }
}

.footer__copyright-text {
  display: block;
  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);

  letter-spacing: 0.02em;

  color: var(--text-footer-copyright-color);

  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: calc(22 / 12);
  }
}

.footer__br {
  @media (min-width: 768px) {
    display: none;
  }
}
