// --- Navigation ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.footer__nav {
  display: block;
  padding-bottom: 20px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding-bottom: 10px;
  }
}

.footer__nav-list {
  display: inline-block;

  @media screen and (min-width: 768px) {
    display: grid;
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-row-gap: 15px;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1000px;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
  }
}

.footer__nav-item {
  font-family: 'Caveat', Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(20 / 16);

  text-align: center;

  color: var(--text-footer-nav-color);

  transition: var(--animation-base);

  &:hover,
  &:focus {
    transform: scale(1.15);
    // font-size: 35px;
  }

  @media screen and (min-width: 768px) {
    font-size: 31px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}
