.header {
  padding-top: 10px;
  padding-bottom: 10px;

  outline: 2px solid rgb(80, 206, 66);
  outline-offset: -2px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding-right: 100px;
    gap: 40px;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding-right: 160px;
    gap: 140px;
    width: 1200px;
  }
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    gap: 50px;
  }
}

.header-text__text {
  font-family: 'Caveat', Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(25 / 20);
  letter-spacing: 0.05em;

  color: var(--text-header-text-color);
  opacity: 0.8;

  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: calc(40 / 32);
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.header-text__name {
  font-family: 'Atma', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(38 / 32);

  text-align: center;

  color: var(--text-header-name-color);

  transition: var(--animation-base);

  &:hover,
  &:focus {
    color: var(--text-header-name-color-accent);
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}

.header-text__description {
  font-family: 'Permanent Marker', Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: calc(16 / 11);

  text-align: center;

  color: var(--text-header-description-color);

  @media screen and (min-width: 768px) {
    font-size: 13px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.header-img {
  width: 75px;

  @media screen and (min-width: 768px) {
    width: 70px;
  }

  @media screen and (min-width: 1200px) {
    width: 100px;
  }
}
